.header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    width: 100%;
    padding: 0.75em 2em;
    box-shadow: 0px 0px 5px 0px rgba(6, 174, 45, 0.2);
    background: #3cc75f;
    height: 60px;
  }
  
  .profile_image {
    height: 30px;
    padding-right: 0.5em;
  }
  
  .header_title {
    font-size: 1.5em;
    cursor: pointer;
    color: #1890ff;
  }
  
  .header_action {
    display: flex;
    align-items: center;
  }
  
  .header_info {
    padding-right: 2em;
  }
  .header_link {
    padding: 0em 1em;
    cursor: pointer;
    color: #1890ff;
  }
  

 